<div class='sidebar-menu'>
    <ul class="sidebar-menu-list">
        <li class='sidebar-menu-item' [routerLinkActive]="['active']">
            <a [routerLink]="['/Home']">Home</a>
        </li>
        <li class='sidebar-menu-item' [routerLinkActive]="['active']">
            <a [routerLink]="['/TokenGenerator']">Token Generator</a>
        </li>
        <li class='sidebar-menu-item' [routerLinkActive]="['active']">
            <a [routerLink]="['/NpcTracker']">NPC Tracker</a>
        </li>
    </ul>
</div>
