<div id='layout-sidebar'>
    <ul class='sidebar-menu'>
        <li class='sidebar-menu-item' [routerLinkActive]="['link-active']">
            <a [routerLink]="['/Home']">Home</a>
        </li>
        <li class='sidebar-menu-item' [routerLinkActive]="['link-active']">
            <a [routerLink]="['/TokenGenerator']">Token Generator</a>
        </li>
        <li class='sidebar-menu-item' [routerLinkActive]="['link-active']">
            <a [routerLink]="['/NpcTracker']">NPC Tracker</a>
        </li>
    </ul>
</div>
