.sidebar-menu {
    position: fixed;
    left: 0;
    top: 70px;
    padding-top: 10px;
    background: none;
    overflow: auto;
    height: calc(100% - 70px);
    width: 300px;
}
.sidebar-button {
    display: none;
    color: #fff;
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    transition: background-color .3s;
}
.sidebar-menu-list {
   padding: 0;
}
.sidebar-menu-item {
    width: 270px;
    background: #fff;
    font-size: 1em;
    left: -25px;
    transition: left .3s;
    height: 40px;
    display: block;
    cursor: pointer;
    border: 1px solid #e3e9ea;
    box-sizing: border-box;
    margin: 5px 0 0 5px;
}

.sidebar-menu-item.active {
    width: 285px;
    height: 50px;
    font-size: 1.5em;
    background: #337ab7;
    right: -25px;
    transition: right .3s;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
}

.sidebar-menu-item>a {
    display:block;
    padding-left: 25px;
    color: #442e4e;
    line-height: 40px;
}

.sidebar-menu-item.active>a {
    color: #fff;
    line-height: 50px;
}

.sidebar-menu-item.active:hover {
    font-size: 1.55em;
    width: 295px;
}

.sidebar-menu-item:hover {
    font-size: 1.05em;
    width: 280px;
}

.sidebar-menu-item.active a:link {
    text-decoration: none;
}

.sidebar-menu-item a:link {
    text-decoration: none;
}

@media screen and (max-width: 64em) {

    .sidebar-button {
        display: inline-block;
    }

    .sidebar-menu {
        top: 100px;
        height: calc(100% - 100px);
        left: -300px;
        transition: left .3s;
    }
}



