
:host .menu-button {
    display: none;
    color: #fff;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    transition: background-color .3s;
}

:host .logo {
    margin-left: 45px;
    margin-top: 15px;
    display: inline-block;
}

:host .logo img {
        height: 42px;
    }

.topbar-menu {
    list-style-type: none;
    float: right;
    margin: 0 60px 0 0;
    padding: 0;
}
.topbar-menu, .topbar-menu>li, .topbar-menu>li>a {
    display: inline-block;
    height: 100%;
}

.topbar-menu>li>a {
    text-decoration: none;
    color: #fff;
    transition: background-color .3s;
    min-width: 120px;
    text-align: center;
    box-sizing: border-box;
    line-height: 70px;
}

:host .menu-button:hover, .topbar-menu > li > a:hover {
    background-color: #4a4f52;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-bars:before {
    content: "\F0C9";
}

@media screen and (max-width: 64em) {
 
    :host .menu-button {
        display: inline-block;
    }

    :host .logo {
        margin: 7px 0;
    }

    .topbar-menu {
        background-color: #363c3f;
        float: none;
        width: 100%;
        height: 40px;
        text-align: center;
        margin: 0;
    }

    .topbar-menu>li>a {
        padding-bottom: 0;
        line-height: 40px;
        min-width: 100px;
    }
}