:host .logo {
    margin-left: 45px;
    margin-top: 15px;
    display: inline-block;
}

:host .logo img {
        height: 42px;
    }

.topbar-menu {
    list-style-type: none;
    float: right;
    margin: 0 60px 0 0;
    padding: 0;
}
.topbar-menu, .topbar-menu>li, .topbar-menu>li>a {
    display: inline-block;
    height: 100%;
}

.topbar-menu>li>a {
    text-decoration: none;
    color: #fff;
    transition: background-color .3s;
    min-width: 120px;
    text-align: center;
    box-sizing: border-box;
    line-height: 70px;
    margin: 0 15px;
}

:host .menu-button:hover, .topbar-menu>li>a:hover {
    background-color: #4a4f52;
}

@media screen and (max-width: 64em) {
 
    :host .menu-button {
        display: inline-block;
    }

    :host .logo {
        margin: 7px 0;
    }

    .topbar-menu {
        background-color: #363c3f;
        float: none;
        width: 100%;
        height: 40px;
        text-align: center;
        margin: 0;
    }

    .topbar-menu>li>a {
        padding-bottom: 0;
        line-height: 40px;
        min-width: 100px;
    }
}