body {
    margin: 0;
    min-height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Roboto,Trebuchet MS,Arial,Helvetica,sans-serif;
    font-weight: 400;
    color: #404c51;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
}

.layout-wrapper {
    height: 100vh;
}

#layout-sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    height: 100%;
    background-color: #e3e9ea;
    overflow: hidden;
    width: 275px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
}

#layout-topbar {
    background-color: #20272a;
    display: block;
    padding: 0;
    height: 70px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

#layout-content {
    height:100vh;
    margin-left: 275px;
    padding-top: 70px;
    background-color: #fff;
}

.body-section {
    height: 90%;
    display: block; 
    border-bottom: 1px solid #dde3e6;
    padding: 30px; 
    overflow: hidden; 
    background-color: #f5f7f8; 
}

#layout-footer {
    height: 10%;
    display: block;
    background: #333;
}

div {
    display: block;
}

@media screen and (max-width: 64em) {

    #layout-content {
        margin-left: 0;
        padding-top: 100px;
    }

    #layout-sidebar {
        top: 100px;
        left: -275px;
        transition: left .3s;
        z-index: 999998;
    }

    #layout-topbar {
        text-align: center;
    }

}
